# Ignore Xcode-specific files
*.xcuserstate
*.xcuserdata/
*.xcshareddata/
*.xcdebugger/
Essentials/Essentials.xcodeproj/xcuserdata/vishnu.xcuserdatad/xcdebugger/

# Ignore build and derived data folders
build/
DerivedData/

# Ignore macOS specific files
.DS_Store